#ignores
.git/
.idea/
__pycache__/
/.directory
/..*.kate.swp
/Notes.txt
/Notes_Checker.txt
/TODO.md
/test*.py
/gitscript.sh
.fuse_hidden*
/md2rst_script.py
.~lock*
/examples/mrz_generator_samples/id_card_ivan.py
/docs/ICAO9303/*/*.pdf
/docs/ICAO9303/*/*.md
